.education{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edu{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid white;
    
}
.clgpic{
      
    height: 80px;
    width: 80px;
}

.Ed{
    width: 60%;
}

.resumebtn{
    height: 45px;
    width: 100%;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}


 /* .resumebtn:hover { */
    /* background: linear-gradient(45deg, #2575fc, #6a11cb);  */
    /* background-color: #007bff; */
  /* background: #4CAF50;  */


    /* transition: 0.3s 0.3s ease-in-out;  */

  /* } */
   

.Disturb{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: "20px";
    padding: "20px";
    flex-direction: row;
    background-color: "#f9f9f9";
    font-weight: 600;

    
}

@media (max-width: 768px) {
      
       .Disturb{
           flex-direction: column;
           /* margin-left: 20px; */
           /* width: 50%; */
           /* padding-left: 20px; */
           align-items: center;
           justify-content: center;
           width: auto;
           gap: 8px;
       }
  }



 